<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up!</title>
    <link rel="stylesheet" href="../css/check.css" />
    <link rel="stylesheet" href="../css/signup.css" />
  </head>
  <body>
    {{!-- Navigation Bar --}}
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="navbar-logo"><span>UNPLAGRIZ</span></div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>
    </div>

    {{! Main Section Starts Here }}
    <main class="main-section">
      <form
        class="form-container"
        action="/signup"
        method="POST"
        id="signup-form"
      >
        <h1 class="sign-logo">Sign Up</h1>
        <span>Already registered?
          <a href="/login" class="login-link">Login Here!</a>
        </span>
        <div class="frm-text">
          <input type="text" name="email" value="" id="email" required />
          <label for="frm-text" class="text-label">Email</label>
          <span></span>
          <label class="frm-err" id="emailErr">Invalid Email Address!</label>
        </div>
        <div class="frm-text">
          <input type="password" name="pass" id="pass" required disabled />
          <label for="frm-pass" class="text-label">Password</label>
          <label class="frm-err" id="passErr">Should consist of atleast one
            Upper Case, one lower Case, one Symbol and have a length between 8
            to 16 characters</label>
          <span></span>
        </div>
        <div class="frm-text">
          <input
            type="password"
            name="confPass"
            id="confPass"
            required
            disabled
          />
          <label for="frm-conf-pass" class="text-label">Confirm Password</label>
          <span></span>
          <label class="frm-err" id="confPassErr">Passwords don't Match!</label>
        </div>
        <div class="frm-submit">
          <input type="submit" id="frm-submit" disabled />
        </div>
      </form>
    </main>

    {{!-- Scripts --}}
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="../js/signup.js"></script>
  </body>
</html>